[Unit]
Description=Temperature sensing and control service
After=opx-cps.service
Wants=opx-cps.service
DefaultDependencies=no

[Service]
Type=notify
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/opx_env_tmpctl_svc
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
