Source: opx-tmpctl
Section: net
Priority: optional
Maintainer: OpenSwitch Developers <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9),dh-autoreconf,dh-systemd,autotools-dev
Standards-Version: 3.9.3

Package: opx-tmpctl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Files common to all platforms

